<h2>Last projects created</h2>
<div id="hp_projectlist">
  <ul>
<% @projects.each do |project| %>
    <li><span class="prjname"><%= project.name %></span> - <span class="prjclone">CLONE!</span></li>
<% end %>
  </ul>
</div>
